:root {
  --text-color: #212121;
  --descr-color: #757575;
  --footer-color: #fff;
  --accent-color: #2196f3;
  --darkest-color: #2f303a;
  --background: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: #fff;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.current {
  color: var(--accent-color);
}
/*Main page*/
.header {
  background-color: #fff;
  border: 1px solid #ececec;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
}
.logo > span {
  color: var(--accent-color);
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-bar .link:hover,
.nav-bar .link:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--descr-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
/*main scren*/
.main-screen {
  background-color: var(--darkest-color);
  height: calc(100vh - 80px);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-color);
  margin: 0;
  padding-top: 25vh;
  display: block;
}
.btn-order {
  background-color: var(--accent-color);
  color: var(--footer-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  width: 200px;
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/*Benefits*/
.section-benefits {
  display: flex;
}
.section-benefits .benefits-box + .benefits-box {
  margin-left: 30px;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.benefits-descr {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--descr-color);
}
/*services*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}
.services-images .item + .item {
  margin-left: 30px;
}
.services-images .item {
  display: inline-block;
}
/*team*/
.our-team {
  background-color: #f5f4fa;
}
.team-people {
  display: flex;
}
.team-people .item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-people .item + .item {
  margin-left: 30px;
}
.team-people h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-people span {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--descr-color);
}
/*footer*/
.footer {
  background-color: var(--darkest-color);
}
.logo-footer {
  color: var(--footer-color);
}
.footer .contacts a {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}

/*PORTFOLIO*/
.portfolio-filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background-color: #f5f4fa;
}
.portfolio-filter button:hover {
  background-color: var(--accent-color);
  color: var(--footer-color);
  cursor: pointer;
}
/*works*/
.portfolio-works h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.portfolio-works p {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--descr-color);
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
